.pan-zoom-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;
    touch-action: none;
}

.pan-zoom-container__content {
    width: fit-content;
    height: fit-content;
    transform-origin: 0 0;
}