.konlatt {
    .section-images {
        margin-top: 4%;
        margin-bottom: calc(2rem - 5%);
    }

    .diagram-image {
        --rotation: -1deg;
        z-index: 10;
        transform: scale(90%) rotateZ(var(--rotation)) translateY(-8%);
    }
    .diagram-export-image {
        --rotation: -12deg;
        z-index: 6;
        margin-top: 15%;
        transform: scale(80%) rotateZ(var(--rotation)) translateX(-25%) translateY(-18%);
    }
    .context-image {
        --rotation: 7deg;
        z-index: 8;
        margin-top: 15%;
        transform: scale(70%) rotateZ(var(--rotation)) translateX(35%) translateY(10%);
    }
    .explorer-image {
        --rotation: 1deg;
        z-index: 4;
        margin-top: 25%;
        transform: scale(75%) translateX(-2%) translateY(5%) rotateZ(var(--rotation));
    }

    button.diagram-image:hover {
        --rotation: 1deg;
    }
    button.diagram-export-image:hover {
        --rotation: -10deg;
    }
    button.context-image:hover {
        --rotation: 8deg;
    }
    button.explorer-image:hover {
        --rotation: -2deg;
    }
}