.tomeflow {
    .section-images {
        margin-top: 4%;
    }

    .home-image {
        --rotation: 1deg;
        z-index: 10;
        transform: scale(90%) rotateZ(var(--rotation)) translateY(-8%);
    }
    .board-image {
        --rotation: -12deg;
        z-index: 6;
        margin-top: 15%;
        transform: scale(80%) rotateZ(var(--rotation)) translateX(-25%) translateY(-10%);
    }
    .markdown-editor-image {
        --rotation: 7deg;
        z-index: 8;
        margin-top: 15%;
        transform: scale(70%) rotateZ(var(--rotation)) translateX(35%) translateY(15%);
    }
    .board-item-image {
        --rotation: 1deg;
        z-index: 4;
        margin-top: 25%;
        transform: scale(75%) translateX(-2%) translateY(15%) rotateZ(var(--rotation));
    }

    button.home-image:hover {
        --rotation: -1deg;
    }
    button.board-image:hover {
        --rotation: -14deg;
    }
    button.markdown-editor-image:hover {
        --rotation: 6deg;
    }
    button.board-item-image:hover {
        --rotation: -2deg;
    }
}